.chat-lists {
    @apply flex flex-col gap-5 p-5 h-full md:border-r md:border-r-[var(--gray-color)]; 
    .chat-lists-header {
        @apply flex justify-between items-center gap-2;
        .arrow-add-wrapper {
            @apply flex gap-2 items-center;
            .arrow-wrapper {
                @apply w-6 h-6;
            }
            .add-wrapper {
                @apply w-6 h-6;
            }
        }
    }
    .chat-lists-content {
        @apply flex flex-col gap-5 grow overflow-auto;
        .chat-lists-tabs {
            @apply flex items-center;
            .chat-lists-tab {
                @apply flex-1 flex justify-center items-center   p-5 cursor-pointer;
                border-color: var(--primary-color);
                & > div {
                    width: 24px;
                    height: 24px;
                }
            }
        }

    }
}