.custom-text-field {
    @apply rounded-lg flex items-center gap-2 p-2 ;
    border: 1px solid var(--gray-color);
    background-color: transparent;
    .input-wrapper {
        @apply flex-1;
        input, textarea {
            @apply w-full;
        }
        input:focus, textarea:focus {
            border:none;
            outline: none;
        }
    }

    .icon {
        @apply w-6 h-6;
        color: var(--gray-color);
    }
}