:root {
    --primary-color: #C21E56;
    --background-color: #f5f5f5;

    /* Darker gray for hover/selected elements */
    --gray-color: #e0e0e0;
  
    /* Almost white card color */
    --card-color: #ffffff;
}