@use './variables';
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: var(--background-color);
}
.no-data {
    padding: 10px;
    color: var(--gray-color);
    text-align: center;
}
.custom-hr {
    height: 1px;
    background-color: var(--gray-color);
    border: none;
}
.error {
    @apply text-rose-500 text-sm -mt-10 p-2;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in-element {
    animation: fadeIn 1s ease-in-out;
  }

  .fade-in-down-element {
    animation: fadeInDown .5s ease-in-out;
  }