.chat-input-wrapper {
    @apply p-5;
    border-top: 1px solid var(--gray-color);
    .chat-input-actions {
        @apply flex gap-2 items-center;
        & > div {
            width: 24px;
            height: 24px;
        } 
    }
    .preview {
        @apply border p-2 rounded relative;
        .x-icon {
            @apply w-4 h-4 absolute -top-2 -right-2 bg-red-400 p-0.5 rounded-full text-white;
        }
        
    }
}