.chat-container {
    @apply flex flex-col gap-2 p-2 lg:p-5 h-screen;
    .title {
        @apply font-bold text-black;
    }
    .chat-content {
        @apply flex flex-row shadow rounded-xl grow;
        height: 90vh;
        background-color: var(--card-color);
        border: 1px solid var(--card-color);
        .chat-lists-wrapper {
            @apply hidden lg:block;
            flex:1;
            max-width: 400px;
        }
        .chat-lists-wrapper-mobile {
            @apply w-full;
        }
        .chat-canvas-wrapper {
            @apply grow;
            flex:3;
        }
    }
}