.chat-canvas-wrapper {
    @apply flex flex-col h-full;
    .chat-messages-header {
        height: 80px;
    }
    .chat-messages-input-info {
        height: calc(100% - 80px);
        @apply grow;
        .chat-messages-input {
            flex:3;
            article {
                @apply grow;
                overflow-x: hidden;
                overflow-y: auto;
                height: calc(100% - 125px);
            }
            footer {
                @apply justify-end;
                height: 125px;
            }
        }
        .chat-user-wrapper {
            flex:1;
            @apply  overflow-auto;
        }
    }
}